<div class="col-10 offset-1 about">
    <h1>About Elyse's Splurty Page</h1>
    
    <p>
        This sensational Splurty page was built by <a target="_blank" href="http://github.com/Elyse4Writing">Elyse Glickman</a>
    </p>
    <br />
    
    <p>
        The accomplished food and travel writer hopes this little experiment will ultimately lead to her very own influencer presence online. Watch out, Millennials!
    </p>
        
    <p>
        If you want to help Elyse Glickman crack the code and get on the fast track to app superstardom, reach out to <a target="_blank" href="http://www.thefirehoseproject.com/">the Firehose crew!</a>    
    </p>
    
    <div class="row"> 
      <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ElyseG.jpg', class: 'img-fluid' %>
    </div>
        
        <div class='col-12 col-sm-7 offset-sm-1'>
            <h2 class="text-center">Elyse Glickman</h2>
            <br />
            <p>
                Elyse Glickman is a writer, photographer, and aspiring web developer based in Los Angeles, CA. She has visited 45 countries to report on lifestyle and business travel trends, wine and spirits, personality profiles, fashion, and interior design. Her credits include <strong>Travel Age West, Global Traveler, Premier Traveler, C-Suite Quarterly</strong>, and the 'Tasting Panel' Magazines.
            </p>
        </div>
        </div>
        
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />
        
        


