<div class="col-10 offset-1 about">
    <h1>More Information about The Firehose Project</h1>
    
    <p>
        The Firehose Project is a much-acclaimed coding course where studtents looking to get ahead in the brave new world of online creating learn together and connect. As the leaders frequently quote, “If you want to go fast, go alone. If you want to go far, go together.”
    </p>
    
</div>
    
    